<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <!-- Fontawesome CDN Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>
    /* Google Font Link */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }

    /* Container Styles */
    .container {
      position: relative;
      max-width: 850px;
      width: 100%;
      background: #fff;
      padding: 40px 30px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      perspective: 2700px;
      margin-top: 110px;
      margin-bottom: 50px;
    }

    /* Cover Styles */
    .container .cover {
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      width: 50%;
    }

    .container .cover img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    /* Form Styles */
    .container .forms {
      height: 100%;
      width: 100%;
    }

    .container .form-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .form-content .login-form {
        width: calc(100% / 2 - 25px);
    }

    /* Title Styles */
    .forms .form-content .title {
      position: relative;
      font-size: 24px;
      font-weight: 500;
      color: #333;
    }

    .forms .form-content .title:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 25px;
      background: #A4D0A4;
    }

    /* Input Box Styles */
    .forms .form-content .input-boxes {
      margin-top: 30px;
    }

    .forms .form-content .input-box {
      display: flex;
      align-items: center;
      height: 50px;
      width: 100%;
      margin: 10px 0;
      position: relative;
    }

    .form-content .input-box input {
      height: 100%;
      width: 100%;
      outline: none;
      border: none;
      padding: 0 30px;
      font-size: 16px;
      font-weight: 500;
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    }

    .form-content .input-box i {
      position: absolute;
      color: #A4D0A4;
      font-size: 17px;
    }

    /* Button Styles */
    .forms .form-content .button {
      color: #fff;
      margin-top: 40px;
    }

    .forms .form-content .button input {
      color: #fff;
      background: #617A55;
      border-radius: 6px;
      padding: 0;
      cursor: pointer;
    }

    .forms .form-content .button input:hover {
      background-color: #576e4d;
      color: white;
      border-radius: 6px;
      border: 1px solid;
    }

    /* Navbar styles */
    .navbar {
      background-color: #617A55;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin-bottom: 30px;
    }

    .navbar-text h1 {
      font-weight: bold;
      font-size: 35px;
      color: #fff;
      margin: 0;
      padding: 0;
      margin-left: 20px;
      margin-right: 20px;
    }

    .navbar-logo-left img,
    .navbar-logo-right img {
      width: 115px;
      height: 115px;
      padding: 5px;
    }

  </style>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar">
    <div class="navbar-logo-left">
      <img src="/images/Logo1.png" alt="Left Logo" class="img-fluid">
    </div>
    <div class="navbar-text">
      <h1 class="text-center">Correctional Institution for Women</h1>
    </div>
    <div class="navbar-logo-right">
      <img src="/images/Logo2.png" alt="Right Logo" class="img-fluid">
    </div>
  </nav>

  <div class="container">
    <div class="cover">
      <div class="front">
        <img src="/images/loginpic.png" alt="Login Picture" class="img-fluid">
      </div>
    </div>
    <div class="forms">
      <div class="form-content">
        <div class="login-form">
          <div class="title">Login</div>
          <form class="form" action="/" method="post">
            <!-- Error Message -->
            <% if (typeof error !== 'undefined' && error) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
            <% } %>
    
            <!-- Success Message -->
            <% if (typeof success !== 'undefined' && success) { %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
            <% } %>
            
            <div class="input-boxes">
              <!-- Username Input -->
              <div class="input-box">
                <i class="fas fa-user"></i> <!-- Icon for username input -->
                <input type="text" placeholder="Enter your username" name="username" required>
              </div>
              <!-- Password Input -->
              <div class="input-box">
                <i class="fas fa-lock"></i> <!-- Icon for password input -->
                <input type="password" placeholder="Enter your password" name="password" required>
              </div>
              <!-- Submit Button -->
              <div class="button input-box">
                <input type="submit" value="Submit">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>

</html>
